[Unit]
Description=Tiny Apple T2 and Silicon Macs Touch Bar daemon
After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service systemd-logind.service dev-tiny_dfr_display.device dev-tiny_dfr_backlight.device dev-tiny_dfr_display_backlight.device
BindsTo=dev-tiny_dfr_display.device dev-tiny_dfr_backlight.device dev-tiny_dfr_display_backlight.device

[Service]
User=root
ExecStart=/usr/bin/tiny-dfr
Restart=always
